# Python bytecode and caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/
env/
venv.bak/

# IDE files
.vscode/
.idea/

# Data files (IMPORTANT: We don't want to upload MNIST!)
*.csv
*.gz
*.pkl
data/
datasets/*.csv
datasets/*.gz
datasets/*.pkl

# Temporary files
*.tmp
mnist_image.png
docs/
tests/
